$normal: 14px;



// $bp-xx-large:   "only screen and (min-width : 1400px)";
// $bp-x-large:    "only screen and (min-width : 1201px)";

$bp-large:      "only screen and (max-width : 1199px)";
$bp-medium:     "only screen and (max-width : 991px)";
$bp-small:      "only screen and (max-width : 767px)";
$bp-xsmall:    "only screen and (max-width : 479px)";
$bp-xxsmall:    "only screen and (max-width : 320px)";

