@import "_layout.scss";
@import "_variables.scss";
@import "_normalize.scss";
@import "_base.scss";
@import "_form.scss";

header {
	padding: 15px 0 0;
	.header-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
		.header-flex-item:nth-child(2) {
			margin-left: 27px;
			margin-right: -27px;
		}
		.header-flex-item:nth-child(4) {
			margin: 0 -12px 0 12px;
		}
		.header-contact-l {
			color: #00acac;
			font-size: 17px;
			li {
				color: #00acac;
				font-size: 17px;
				padding-left: 22px;
				margin: 5px 0;
				&:first-child {
					font-weight: 700;
					background: url(../img/mail.png) left center no-repeat;
				}
				&:last-child {
					background: url(../img/skype.png) 1px center no-repeat;
				}
			}
		}
		.header-contact-r {
			color: #415959;
			font-size: 17px; 
			padding-left: 22px;
			background: url(../img/phone.png) left 2px no-repeat;
			li {
				margin: 5px 0;
			}
		}
		.drop-language {
			color: #415959;
			font-size: 14px;
			font-weight: 700;
			line-height: 24px;
			padding-left: 19px;
			background: url(../img/lang.png) left center no-repeat;
			position: relative;
			padding-right: 14px;
			&:hover {
				cursor: pointer;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				right: 0;
				top: 50%;
				margin-top: -2px;
				border: 5px solid transparent;
				border-top: 5px solid #00acac;
			}
		}
		.languages {
			display: none;
		}
	} 
	.header-menu {
		background-color: #00acac;
		box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.1);
		.fc-menu {
			text-align: justify;      
			position: relative;
			font-size: 1px;
			padding: 0;
			&:after {
				content: '';
				display: inline-block;
				width: 100%;
				height: 0;
			}
		}
		.nav {
			display: inline-block; 
			width: 94%;
			vertical-align: middle;
			padding-top: 23px;
			padding-bottom: 23px;
			&> li {
				position: relative;
				display: inline-block;
				margin: 0 15px;
				cursor: pointer;
				color: white;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				text-align: left;
				&.dr {
					&:after {
						content: '';
						display: block;
						position: absolute;
						width: 0;
						height: 0;
						right: -12px;
						top: 50%;
						margin-top: -1px;
						border: 4px solid transparent;
						border-top: 3px solid #fff;
					}
					&:before {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						width: 14px;
						right: -12px;
						height: 100%;
					}
				}
				&:hover {
					.hide-list {
						visibility: visible;
						opacity: 1;
						z-index: 2;
						// display: block;
					}
				}
				&:last-child {
					margin-right: 0;
				}
				&>a {
					color: white;
					text-decoration: none;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					position: relative;

				}
			}
		}


		.form-search {
			display: inline-block; 
			vertical-align: middle;
			max-width: 4%;
			&:hover input {
				display: inline-block;
				width: 80px;
			}
			input {
				display: none;
				padding: 0 5px;
				font-size: 11px;
				height: 15px;
				border: 1px solid #000;
				margin-right: 5px;
			}
			button[type=submit] {
				width: 15px;
				cursor: pointer;
				height: 15px;
				display: inline-block;
				border: none;
				outline: none;
				background: url(../img/search.png) center center no-repeat;
			}
		}
	}
}

.hide-list {
	transition: all 0.35s ease;
	visibility: hidden;
	opacity: 0;	    
	position: absolute;
	left: 0;
	width: 205px;
	top: 100%;
	margin-top: 23px;
	background-color: #00acac;
	text-align: left;
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 24px;
		top: -24px;
		left: 0;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: -3px;
		left: 0;
		height: 3px;
		width: 100%;
		background: #fff;
	}
	li {
		display: block;
		padding: 7px 15px; 
		a {
			text-transform: none;
			text-decoration: none;
			color: white;
			font-size: 16px;
			font-weight: 700;
			display: inline-block;
			height: 100%;
			width: 100%;
		}
		&:hover {
			background-color: #009a9a;
		}
	}
}

.button {
	display: inline-block;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	background-color: #4ab848;
	border-radius: 5px;
	box-shadow: inset 0 -3px 0 rgba(31, 131, 29, 0.35);
	font-size: 16px;
	font-weight: 700;
	color: white;
	text-align: center;
	text-decoration: none;
	transition: background 0.35s ease;
	&:hover {
		background-color: #298b27;
	}
	&:active {
		transform: translateY(1px);
		box-shadow:none;

	}
}

h1 {
	margin: 0;
	padding: 0;
}

.section-image {
	background: url(../img/sl-1.jpg) center top no-repeat;
	background-size: cover;

	.src {
		text-align: left;
		position: absolute;
		left: 15px;
		top: 15px;
		li {
			display: inline-block;
			&:not(:last-child) a:after {
				content: '/';
				position: absolute;
				right: 0px;
			}
			&:not(:last-child) a {
				text-decoration: underline;
				padding-right: 10px;
			}
			a {
				position: relative;
				text-decoration: none;
				font-size: 14px;
				line-height: 21px;
				color: white;
			}
		}
	}
	h1 {
		text-align: center;
		color: white;
		font-size: 60px;
		font-weight: 700;
		    padding: 81px 0 95px;
	}
}


.section-main {
	padding-top: 39px;
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.article-nav {
	margin-bottom: 55px;
	li {
		display: block;
		border-bottom: 1px solid #d9e9e9;
		padding: 9px 10px 10px 17px;

		&:last-child {
			border-bottom: none;
		}
		a {
			color: #415959;
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			text-decoration: none;
			position: relative;
			&:before {
				content: '';
				display: none;
				position: absolute;
				width: 10px;
				height: 10px;
				top: 50%;
				left: -13px;
				transform: translateY(-50%);
				background: url(../img/circle.png) left bottom no-repeat;
			}
		}
	}
}

.content-margin {
	margin-bottom: 55px;
}
.text-block {
	h3 {
		margin: 0;
		color: #00acac;
		font-size: 30px;
		line-height: 36px;
		font-weight: 300;
		text-transform: uppercase;
	}
	p {
		color: #415959;
		font-size: 16px;
		line-height: 22px;
	}
}
.slider {
	width: 444px;
	float: right;
	display: inline-block;
	img {
		max-width: 444px;
	}
}

.clear-l {
	clear: left !important;
}


.form-left {
	padding: 10px 15px 15px 15px;
	background-color: #ecf7f7;
	h5 {
		margin: 0;
		margin-bottom: 5px;
		text-align: center;
		color: #00acac;
		font-size: 30px;
		font-weight: 300;
		line-height: 50px;
		text-transform: uppercase;
	}
	input:not([type=submit]) {
		width: 100%;
		height: 35px;
		padding-left: 11px;
		padding-right: 11px;
		font-family: 'Roboto', sans-serif;
		color: #415959;
		font-size: 14px;
		font-weight: 300;
		background-color: white;
		border: 1px solid #a6d7d7;
		outline: none;
		border-radius: 5px;
		margin-bottom: 5px;
	}
	select {
		width: 100%;
		height: 35px;
		background: #fff url(../img/select.png) 95% center no-repeat;
		outline: none;
		padding-left: 11px;
		padding-right: 11px;
		color: #415959;
		border: 1px solid #a6d7d7;
		user-select: none;
		appearance: none;
		margin-bottom: 20px;
	}
}

.center-y {
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}

.banner {
	width: 100%;
	height: 180px;
	margin-top: 32px;
	background: rgba(11, 43, 86, .35);
	position: relative;
	
	.txt {
		text-align: center;
		color: white;
		font-size: 26px;
		font-weight: 700;
		line-height: 28px;
	}
	
}






.section-programs {
	padding: 20px 0 60px;
	margin-top: 65px;
	background: url(../img/bg.jpg) center top no-repeat;
	background-size: cover;
}









.title {
	text-align: center;
	color: white;
	font-size: 30px;
	line-height: 50px;
	text-transform: uppercase;
	font-weight: 700;
	span {
		font-weight: 300;
	}
}








.flex-programs {
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	.flex-item {
		padding: 65px 0 64px;
		width: 276px;
		background-color: rgba(13, 214, 214, 0.5);
		box-shadow: 0 0 25px rgba(10, 175, 175, 0.55);		
		align-self: stretch;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px;
		.dsc-2 {
			color: white;
			font-size: 26px;
			font-weight: 700;
			line-height: 32px;
		}
		.more {
			transition: all 0.35s ease;
			display: inline-block;
			text-decoration: none;
			color: white;
			font-size: 16px;
			font-weight: 700;
			line-height: 40px;
			width: 122px;
			height: 40px;
			border: 2px solid white;
			border-radius: 5px;
			margin-top: 13px;
			&:hover {
				background: rgba(255,255,255, .3);
			}
		}
	}
}





footer {
	background-color: #2b2b2b;
	padding-top: 55px;
	.container {

	}
	.flex-footer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
		padding-bottom: 25px;
		& > div {
			width: 20%;
		padding-left: 30px;
		}
		.head-2 {
			font-size: 16px;
			color: white;
			font-weight: 700;
			text-transform: uppercase;
		}
		.list {
			a {
				color: #dbdbdb;
				font-weight: 300;
				text-decoration: none;
				display: inline-block;
				margin: 7px 0;
			}
		}
	}
	.bottom-footer {
		border-top: 2px solid #4d4d4d;
		.container {
			padding-left: 45px;
		}
		.flex-footer2 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
		.site {
			color: #bfbfbf;
			font-size: 14px;
			line-height: 20px;
			width: 25%;
		}
		.auth {
			width: 25%;
			color: #bfbfbf;
			font-size: 14px;
			text-align: right;
			span {
				font-weight: 700;
			}
		}
		.social {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 50%;
			// order: -1;
			text-align: center;
			.wrapp-icon {
				width: 96px;
				height: 92px;
				position: relative;
				&:hover {
					background-color: #3e7ed6;
				}
				span {
					display: inline-block;
					position: absolute;
					margin: auto;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
				}
			}
		}
	}
}