@import "_normalize.scss";
@import "_layout.scss";
@import "_variables.scss";
@import "_base.scss";
@import "_header.scss";
@import "_section-image.scss";
@import "_section-main.scss";
@import "_section-program.scss";
@import "_footer.scss";

.button {
	display: inline-block;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	background-color: #4ab848;
	border-radius: 5px;
	box-shadow: inset 0 -3px 0 rgba(31, 131, 29, 0.35);
	font-size: 16px;
	font-weight: 700;
	color: white;
	text-align: center;
	text-decoration: none;
	transition: background 0.35s ease;
	&:hover {
		background-color: #298b27;
	}
	&:active {
		transform: translateY(1px);
		box-shadow:none;

	}
}

